.HomePage {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    padding-bottom: 10px;
    font-size: 17px;
  }

  &__form {
    padding: 10px 0;
  }

  &__input {
    text-indent: 5px;
    font-size: 17px;
    width: 150px;
    height: 30px;
    border: 2px solid black;
  }

  &__button {
    margin-left: 3px;
    font-size: 17px;
    width: 75px;
    height: 30px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
  }

  &__link {
    margin-top: 15px;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: lightgreen;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
