.About {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    padding-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__avatar {
    width: 200px;
    border-radius: 50%;
  }

  &__maintext {
    width: 350px;
    padding-top: 20px;
    font-size: 17px;
  }

  &__category {
    padding: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__text {
    width: 300px;
    font-size: 17px;
  }

  &__link {
    margin: 25px 0;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
      background-color: lightgreen;
    }
  }
}
