.Clock {
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__name {
    font-family: "Press Start 2P", cursive;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    color: white;
  }

  &__time {
    font-family: "Press Start 2P", cursive;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: lightgreen;
  }
}
