.ProjectsPage {
  padding: 20px;
  display: flex;
  flex-direction: column;

  &__title {
    padding-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__link {
    width: max-content;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      color: violet;
      cursor: pointer;
    }
  }
}
