* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akshar", sans-serif;
  font-weight: normal;
  cursor: default;
}

.App {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
