.NotFoundPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__gif {
    width: 300px;
    padding-bottom: 50px;
  }

  &__link {
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: red;
    border: 2px solid black;
    border-radius: 5px;

    &:hover {
      color: green;
      cursor: pointer;
    }
  }
}
